Header {
  margin-left: 0%;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn {
  background-color: #FFD101;
  min-height: 40px;
  text-decoration-style: none;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.btnTextLeft {
  margin-top: 0px !important;
  text-align: left !important;

}

.headline {
  margin-top: 16px;
  margin-left: 36px;
  margin-bottom: 32px;
}

.card {
  background-color: #FFD101;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 36px;
  margin-right: 36px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
  .nav { grid-area: 1 / 2 / 2 / 14;
   background-color: #282c34;
  color: white;
  height: 67px;
  padding-top: 10px;
  padding-left: 24px;
  margin-top: 0px;
}

  .address { grid-area: 2 / 2 / 3 / 14;
  padding-left: 24px;}
  .mainPhoto { grid-area: 3 / 2 / 5 / 14; }
  .description { grid-area: 5 / 2 / 6 / 11; 
  padding-left: 12px;
margin-top: 42px;}
  .application { grid-area: 5 / 11 / 6 / 14; 
  margin-top: 42px;}
  .footer { grid-area: 6 / 2 / 7 / 14; 
  margin-top: 24px;}

  .myButton {
    background-color: #FFD101;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  }
  
  img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  @media screen and (max-width: 600px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .nav { grid-area: 1 / 1 / 2 / 3; }
      .address { grid-area: 2 / 1 / 3 / 3; }
      .mainPhoto { grid-area: 3 / 1 / 4 / 3; }
      .description { grid-area: 5 / 1 / 6 / 3; }
      .application { grid-area: 6 / 1 / 7 / 3; 
      margin-left: 10%;
    margin-right: 10%;
  text-align: justify;}
      .footer { grid-area: 7 / 1 / 8 / 3; }
      p, h1, h2, table, tr, td, a {
        text-align: center;
      }
    
      .myButton {
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
      }
      .btnTextLeft {
        margin-top: 0px !important;
        text-align: left !important;
        margin-left: 32px;
      }
  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFD101;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  text-decoration-style: none;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
